<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="INFO">
    <appenders>
        <console name="console" target="SYSTEM_OUT">
            <patternLayout>%d{yyyy-MM-dd HH:mm:ss.SSS Z}[%p@%l]: %m%n</patternLayout>
        </console>
    </appenders>
    <loggers>
        <logger name="console" level="INFO">
            <appenderRef ref="console"/>
        </logger>

        <root level="OFF"/>
    </loggers>
</configuration>